html, body {
    background: #F0F0F0;
    font-family: 'Lucida grande', verdana, sans-serif;
}

#feedback {
    width: 600px;
    margin: 50px auto;
    text-align: center;
}

#feedback h1 {
    font-weight: bold;
    color: #111;
}

#feedback form {
    border: 10px solid #ccc;
    background: #fff;
    padding: 10px;
    text-align: left;
}

#feedback ul {
    list-style-type: none;
}

#feedback label {
    width: 100px;
    float: left;
    text-align: right;
    margin-right: 5px;
    color: #333;
    font-size: 15px;
}

#feedback input[type=text], #feedback input[type=password] {
    width: 330px;
    font-size: 13px;
}

#feedback #feedbacktext {
    width: 330px;
    height: 100px;
}


#feedback input[type=submit] {
    margin-left: 210px;
    width: 100px;
}

#feedback li {
    margin-top: 10px;
}

#feedback .error, #feedback .success  {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

#feedback .error {
    background: #c00 !important;
}

#feedback .success {
    background: #008800 !important;
}